/* style the nav bar */
header > nav{
    text-align: center;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    font-weight: bolder;
    /* padding-right: 15px; */
    margin: 5px 10px 10px 10px;
}
/* style the anchor tags in the nav bar */
header > nav >a{
    font-weight: initial;
    text-decoration: none;
    color: gray;
}
/* when hovering over links turn white */
header > nav >a:hover{
    color: whitesmoke;
}
body{
    background-color: black;
}
h2,h3,p{
    color: whitesmoke;
    text-align: center;
}
h2{
    font-size: 50px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    color: gray;
}
img{
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
}
.group{
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 550px){
    .group{
        flex-direction: row;
        flex-wrap: wrap;
    }
    header > nav{
        text-align: right;
        font-size: 30px;
    }
    .item{
        text-align: center;
        flex: 1;
        margin: 10px;
    }
    h2{
        font-size: 70px;
    }
    h3{
        font-size: 30px;
    }
    P{
        font-size: 20px;
    }
}