/* set bg img to code */
.homepage{
    /* background-image: url('../images/markus-spiske-hvSr_CVecVI-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
    background-color: black;
}
/* style the nav bar */
header > nav{
    text-align: center;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    font-weight: bolder;
    /* padding-right: 15px; */
    margin: 5px 10px 10px 10px;
}
/* style the anchor tags in the nav bar */
header > nav >a{
    font-weight: initial;
    text-decoration: none;
    color: gray;
}
/* when hovering over links turn white */
header > nav >a:hover{
    color: whitesmoke;
}

img{
    width: 100%;
    border-radius: 10px;
    max-width: 550px;
}

h1,h2{
    color: whitesmoke;
    text-align: center;
    margin: 10px;
}

h1{
    font-size: 100px;
    margin: 0px;
}

h2{
    font-size: 30px;
}

.wrapper{
    width: 100%;
}
.info-and-pic{
    display: flex;
    flex-direction: column;
}
body{
    height: 100%;
}

.footer-icon{
    width: 25px;
    margin: 0px 5px;
}
.footer-nav{
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

@media all and (min-width: 550px) {
    .wrapper {
      width: 90%;
      margin: auto;
    }
  
    .info-and-pic {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    header > nav{
        text-align: right;
        font-size: 30px;
    }

    .footer-icon{
        width: 50px;
    }

    .footer-icon:hover{
        width: 55px;
    }

    .footer-nav{
        position: absolute;
    }
  }