/* set bg img to code */
.homepage {
  /* Background pattern from Toptal Subtle Patterns, Made by: Tomislava Babić */
  background-image: url("../images/y-so-serious.png");
  background-color: black;
}
img {
  width: 100%;
  border-radius: 10px;
  max-width: 550px;
}

h1,
h2 {
  color: whitesmoke;
  text-align: center;
  margin: 10px;
}

h1 {
  font-size: 100px;
  margin: 0px;
}

h2 {
  font-size: 30px;
}

.wrapper {
  width: 100%;
}
.info-and-pic {
  display: flex;
  flex-direction: column;
}
body {
  height: 100%;
}

.footer-icon {
  width: 25px;
  margin: 0px 5px;
}
.footer-nav {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media all and (min-width: 550px) {
  header {
    min-height: 10vh;
  }
  main {
    min-height: 80vh;
  }
  footer {
    min-height: 10vh;
  }
  .wrapper {
    width: 90%;
    margin: auto;
  }

  .info-and-pic {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  header > nav {
    text-align: right;
    font-size: 30px;
  }

  .footer-icon {
    width: 50px;
  }

  .footer-icon:hover {
    width: 55px;
  }

  .footer-nav {
    position: absolute;
  }

  footer {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }
}
